.page {
    /* Styles for better appearance on screens only -- are reset to defaults in print styles later */

    /* Reflect the actual page margin/padding on paper in the screen rendering (must match margin from @page rule) */
    padding: 0;

    /* Divide single pages with some space and center all pages horizontally */
    margin: 1cm auto;

    /* Define a white paper background that sticks out from the darker overall background */
    background-color: black;

    /* Reflect the paper width in the screen rendering (must match size from @page rule) */
    width: 339.6mm;
    /* Reflect the paper height in the screen rendering (must match size from @page rule) */
    min-height: 239.6mm;

    position: relative;
    outline: 1mm dashed darkorange;
}

/* =============================== */

