@charset "UTF-8";
@import "bootstrap/dist/css/bootstrap.css";
@font-face {
  font-family: "NotoNaskhArabic";
  src: url("./fonts/NotoNaskhArabic/NotoNaskhArabic-Regular.woff2")
      format("woff2"),
    url("./fonts/NotoNaskhArabic/NotoNaskhArabic-Regular.woff") format("woff"),
    url("./fonts/NotoNaskhArabic/NotoNaskhArabic-Regular.ttf")
      format("truetype");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  /* Styles for better appearance on screens only -- are reset to defaults in print styles later */

  /* Reset the document's margin values */
  margin: 0;
  /* Reset the document's padding values */
  padding: 0;
  /* Use a non-white background color to make the content areas stick out from the full page box */
  background-color: #eee;

  font-family:'Times New Roman', Times, serif;
}

.noto-naskh-arabic-400 {
  font-family: "NotoNaskhArabic", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  direction: rtl;
  font-size: 1.5rem;
}

/* Styles that are shared by all elements */
* {
  /* Include the content box as well as padding and border for precise definitions */
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.page {
  /* Styles for better appearance on screens only -- are reset to defaults in print styles later */

  /* Divide single pages with some space and center all pages horizontally */
  margin: 1cm auto;
  /* Define a white paper background that sticks out from the darker overall background */
  background-color: black;
  /* Override outline from user agent stylesheets */
  outline: 0;
}

/* When the document is actually printed */
@media print {
  html,
  body {
    /* Reset the document's background color */
    background-color: #fff;
  }
  .page {
    /* Reset all page styles that have been for better screen appearance only */
    /* Break cascading by using the !important rule */
    /* These resets are absolute must-haves for the print styles and the specificity may be higher elsewhere */
    width: initial !important;
    min-height: initial !important;
    margin: 0 !important;
    padding: 0 !important;
    border: initial !important;
    border-radius: initial !important;
    background: initial !important;
    /* box-shadow: initial !important; */
    /* box-shadow: inset 0.1mm 0.1mm red; */
    /* border: 1px solid red; */
    outline: dashed darkorange;

    /* Force page breaks after each .page element of the document */
    page-break-after: always;
    -webkit-print-color-adjust: exact;
  }
}

.page {
  /* Styles for better appearance on screens only -- are reset to defaults in print styles later */
  height: 100%;

  /* Reflect the paper width in the screen rendering (must match size from @page rule) */
  width: 348.8mm;
  /* Reflect the paper height in the screen rendering (must match size from @page rule) */
  min-height: 251.0mm;

  /* Reflect the actual page margin/padding on paper in the screen rendering (must match margin from @page rule) */
  padding-left: 4.3mm;
  padding-top: 4.3mm;
  padding-right: 4.3mm;
  padding-bottom: 4.3mm;

  position: relative;
  outline: 1mm dashed darkorange;
}

/* Use CSS Paged Media to switch from continuous documents to sheet-like documents with separate pages */
@page {
  /* You can only change the size, margins, orphans, widows and page breaks here */

  /* Paper size and page orientation */
  size: 348.8mm 251.0mm;

  /* Margin per single side of the page */
  margin-left: 4.3mm;
  margin-top: 4.3mm;
  margin-right: 4.3mm;
  margin-bottom: 4.3mm;
}

:root {
  --pmb-text-primary: #87ceeb;
  --pmb-text-transcribed: #eddabb;
  --pmb-text-translated: #dab473;
  --pmb-text-arabic: #ffd700;
}


/* =========================== */

.pmb-text-primary {
  color: var(--pmb-text-primary);
}
.text-transcribed {
  color: var(--pmb-text-transcribed);
}
.text-translated {
  color: var(--pmb-text-translated);
  line-height: 1rem;
}
.text-arabic {
  color: var(--pmb-text-arabic);
}

.surah-number {
  top: 2.45mm;
  left: 2.5mm;
}
.ayat-numbers {
  top: 10.0mm;
  left: 1.00mm;
}
.surah-name-transcribed {
  top: 17.5mm;
  left: 2.5mm;
}
.surah-name-translated {
  top: 25.0mm;
  left: 2.5mm;
}
.surah-name-arabic {
  top: 32.5mm;
  left: 2.5mm;
  font-size: 1.3rem;
}

.bismillah-image {
  top: 47.0mm;
  left: 2.5mm;
}
.bismillah-image-transcribed {
  top: 60.0mm;
  left: 2.5mm;
  font-size: 0.8rem;
}


/* =============================== */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid var(--pmb-text-translated);
  margin: 1em 0;
  padding: 0;
}

/* =============================== */

.pmb-module-footprint {
  top: 74.3mm;
  width: 41.2mm;
  height: 97.1mm;
}
.pmb-module-usb-footprint {
  top: 117.3mm;
  left: 40.9mm;
  width: 11.9mm;
  height: 9.3mm;
}
